[View in Colaboratory](https://colab.research.google.com/github/pratd/data-science-testkit/blob/master/Prattya_Datta_CasafariTest_InternDataScientist.ipynb)

# Casafari Take-Home Challenge

### Personal Identification
Fill here your personal information to accelerate the assessment by our team:
* Your name;
* Link to your Git and LinkedIn profile;
* Seniority level and years of experience;
* Position you applied for and the desired scope of tasks in the 1st year, 2nd year, split by years;
* Salary expectations in the 1st year, 2nd year (gross per annum, split by years.)

### General Information

The test is split in three parts and it was designed to give you a complete, yet short, overview of some our daily activities as data scientist at Casafari. 

The first two parts (Data Extraction and Data Querying) are straightforward and each one is worth 25% of the overall score. The last part , worth 50% of the overall score, is more open-ended and meant to stretch your data science knowledge. Each section has one extra challenge. They are not mandatory nor counted in the general score, but if you have time, they are the chance to impress us with your extraordinary skills.

### Guidelines
* We expect that the test should take around 6 hours to do. However, we strongly advise you to carefully read this assignment, think about approaches and try to understand the data before diving into the questions. You are free to spend as much time on it as you want, within the timeframe given by our recruiter.
* **You can complete this assignment working on this Google Colab, or if you prefer you can use download it and use it as standalone jupyter notebook and send them back to us together with the relevant files.**
* In case of using this Google Colab, you'll need to download those files in [this link](https://drive.google.com/open?id=1GvESbHspNnPhRBGt-FWEG5eOWA1Pdckp) and upload it on this notebook running the cell below.
* If you want to use some python packages that are not yet installed on this notebook, use !pip install package.

In [1]:
from google.colab import files

uploaded = files.upload()

Saving sample.json to sample.json
Saving properties.csv to properties.csv
Saving listing.html to listing.html
Saving agents.csv to agents.csv

# Data Extraction (CSS + REGEX)

Casafari tracks the entire real estate market by aggregating properties from thousands of different websites. The first step of this process is to collect all the relevant information using web crawlers. This task will give a brief overview of how this extraction is made. 

The task consists of 3 parts, which will evaluate your skills in CSS3 selectors and regular expressions knowledge, which are essential to data extraction processes. We believe that even if you do not have previous knowledge of CSS, HTML and REGEX, you should be able to complete this task in less than a hour. There are many tutorials and informations on how to use CSS3 selectors and regular expressions to extract data. Do not be afraid to google it! This task is also a evaluation of your learning capabilities.

The normal questions already have some examples and can be solved only by filling the CSS3 selectors or the regular expressions in the given space. You can check if you have the correct results by running the pre-made script after it. However, if you feel comfortable, you can use another python package and rewrite the script in a similar way to extract the data.

For the extra challenges, you'll need to construct the scripts from scratch.

__(1)__ For the following task, use the _listing.html_ file, which represents a listings for a property. Open the HTML file on your browser, investigate it with the Inspect tool, view the source code and explore it. 
After that, fill the CSS3 selectors in the following script to extract the following information about this property:

* Number of bathrooms
* Number of bedrooms
* Living Area
* Energy Rating
* Description
* Agent Name
* Extract the location of the property

In [2]:
!pip install lxml
!pip install cssselect

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/03/a4/9eea8035fc7c7670e5eab97f34ff2ef0ddd78a491bf96df5accedb0e63f5/lxml-4.2.5-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
    100% |████████████████████████████████| 5.8MB 5.4MB/s
Installing collected packages: lxml
Successfully installed lxml-4.2.5
Collecting cssselect
  Downloading https://files.pythonhosted.org/packages/7b/44/25b7283e50585f0b4156960691d951b05d061abf4a714078393e51929b30/cssselect-1.0.3-py2.py3-none-any.whl
Installing collected packages: cssselect
Successfully installed cssselect-1.0.3

In [0]:
# EXAMPLE SELECTOR TO EXTRACT THE PROPERTY TYPE
Selector_Example = "h1.lbl_titulo"

In [15]:
# EXAMPLE CODE, RUN TO CHECK THE EXAMPLE SELECTOR 

from lxml import html,etree

with open(r'listing.html', "r") as f:
    page = f.read()
tree = html.fromstring(page)

print('Example -> Property type: {}'.format(tree.cssselect(Selector_Example)[0].text))

Example -> Property type: 3 Bedroom House

Now that you understand the example, just fill the CSS selectors here and check it by running the below cells:

In [0]:
############## Q1 ANSWERS ##################
Selector_1 = "ul.bloco-dados li:nth-child(4) span"
Selector_2 = "ul.bloco-dados li:nth-child(5) span"
Selector_3 = "ul.bloco-dados li:nth-child(3) span"
Selector_4 = "ul.bloco-dados li:nth-child(2) span"
Selector_5 = "div.bloco-imovel-texto p"
Selector_6 = "div.lbl_titulo"
Selector_7 = "div#Cpl_pnl_mapa span#Cpl_lbl_morada.lbl_morada"

In [132]:
############### RUN TO CHECK YOUR ANSWERS ##################
print('Bathrooms: {}'.format(tree.cssselect(Selector_1)[0].text))
print('')
print('Bedrooms: {}'.format(tree.cssselect(Selector_2)[0].text))
print('')
print('Total area: {}'.format(tree.cssselect(Selector_3)[0].text)+"2")
print('')
print('Living area: {}'.format(tree.cssselect(Selector_4)[0].text)+"2")
print('')
print('Description: {}'.format(tree.cssselect(Selector_5)[0].text))
print('')
print('Agent name: {}'.format(tree.cssselect(Selector_6)[0].text))
print('')
print('Location: {}'.format(tree.cssselect(Selector_7)[0].text))

Bathrooms:  1

Bedrooms:  2

Total area:  0 m2

Living area:  80 m2

Description: At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fugaEt harum quidem rerum facilis est et expedita distinctio.Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.

Agent name: Agent John Doe

Location: Portugal, Lisboa, Estrela, Lapa

__Extra Challenge 1__:

Write from scratch a script to extract and print:
* One link that leads to http://mydomain.com/link-to-image
* Extract all the features of the property

In [0]:
############### WRITE THE SCRIPT TO SOLVE THE EXTRA CHALLENGE HERE ##################

__(2)__ In the second part you will still have to use the html file. However, this time, you should use regular expressions to extract the following data from the webpage:

* Urls that are links to listings (i.e.: http://mydomain.com/link-to-listing). Do not use the whole url itself in regular expression. It should select only 3 links.
* The agent telephone number
* The property price

In [0]:
# REGEXP EXAMPLE TO EXTRACT THE AGENT EMAIL
Regexp_Example = r"\">(.*?@.*?)<"

In [108]:
# RUN TO CHECK THE EXAMPLE RESULTS
import re

with open(r'listing.html', "r") as f:
    page = f.read()

print("Email extracted: {}".format(re.findall(Regexp_Example, page)[0]))

Email extracted: casatest@casa.pt

In [0]:
# WRITE YOUR REGULAR EXPRESSIONS HERE
Regexp_1 = r"http://mydomain.com/link-to-listing"
Regexp_2 = r"Phone Number:(.*?)<"
Regexp_3 = r"\>(.*€)<"

In [186]:
re.findall(Regexp_1,page)

['http://mydomain.com/link-to-listing', 'http://mydomain.com/link-to-listing', 'http://mydomain.com/link-to-listing']

In [187]:
############### RUN TO CHECK YOUR ANSWERS ##################
print('Links extrated:')
for w in re.findall(Regexp_1, page):
  print(w)
print('')
print("Agent Phone Number: {}".format(re.findall(Regexp_2, page)[0]))
print('')
print("Property price: {}".format(re.findall(Regexp_3, page)[0]))

Links extrated:
http://mydomain.com/link-to-listing
http://mydomain.com/link-to-listing
http://mydomain.com/link-to-listing

Agent Phone Number:  0800-1111

Property price: 1.500.000 €

__Extra Challenge 2:__
* Extract latitude and longitude value from html ()_those values are in the html code, but are not shown on the page__)

In [188]:
############### WRITE THE SCRIPT TO SOLVE THE EXTRA CHALLENGE HERE ##################
regexp_4 = "data-coorgps=(.*?)>"
print("Latitude and Longitude: {}".format(re.findall(regexp_4, page)[0]))

Latitude and Longitude: "36.5194999,-4.7743365"

__(3)__ For the last task,  use the *sample.json* file. This file contains JSON that has a list of objects inside. Open the file in a code editor, try to identify some pattern on it and check it's structure first. Each object is under unique ID: 




{ 

"SV350": { ... // data, describing the object ... }, 

"fKDFI3": { ... // data, describing the object ... },

...

"38shF": { ... // data, describing the object ... } 

}




Therefore, you need to write one regular expression to extract the following information:
* Every unique ID on this file (for example, the first unique ID should be NC065 and the last should be NN574). 

Hint: The length of your list should be 211

In [0]:
# WRITE YOUR REGULAR EXPRESSION HERE
Regexp_JSON = r":\[\[\"Property-No.\"\,(.*?)\]"

In [223]:
with open(r'sample.json', "r") as f:
    json = f.read()

print('----- Expressions extracted -----')
print("First unique id: {}".format(re.findall(Regexp_JSON, json)[0]))
print("Last unique id: {}".format(re.findall(Regexp_JSON, json)[-1]))
print("Length of list of unique ids: {}".format(len(re.findall(Regexp_JSON, json))))

----- Expressions extracted -----
First unique id: "NC065"
Last unique id: "NN574"
Length of list of unique ids: 211

**Extra Challenge 3:**
* Extract all unique IDs that has the expression _"land":"ESP"_ inside (for example, the object SV350 has this expression inside it).

In [0]:
############### WRITE THE SCRIPT TO SOLVE THE EXTRA CHALLENGE HERE ##################

# Data Querying (SQL)

You have now collected the data, and cleaned it.  It was published in Casafari database and you have to query the data in order to prepare it for analysis. 

To solve this problem consider the data set provided in _properties.csv_ and _agents.csv_ to test your queries. As before, please fill in your queries in the cells provided (double click the blank cells to fill them in). 

In this task we just want to evaluate your knowledge of SQL syntax, so keep it simple. Do not try to overclean the data in this task. You'll get to do this on the next task with Python.

###Schemas:
- PROPERTIES table: 
  - **id**(PK, INT) - unique identification number of the property ad listing
  - **title**(VARCHAR) - title of the property ad listing
  - **features**(VARCHAR) - field with additional characteristics of the property ad listing
  - **living_area**(FLOAT) - living area of the property in square meters
  - **total_area**(FLOAT)- total area of the property in square meters
   - **plot_area**(FLOAT) - plot area of the property in square meters
  - **price**(FLOAT) - selling price of the property in euros
  - **agent_id**(INT) - selling agent id
  - **createdAt**(DATE) - date in which the property was added to the market
- AGENTS table: 
  - **agent_id**(PK, INT) - selling agent id
  - **company**(VARCHAR) - company for which the agent works

###Details of properties:
- **locations** can be: Alenquer, Quinta da Marinha, Golden Mile, Nagüeles;
- **types** can be: ‘apartment’, ‘penthouse’, ‘duplex’, ‘house’, ‘villa’, ‘country estate’,
‘moradia', ‘quinta', ‘plot’, ‘land’; 
- the property types can be part of the following **property groups**:
  1. group **‘apartments’** includes types ‘apartment’, ‘penthouse’, ‘duplex’;
  2. group **‘‘houses’**‘ includes types ‘house’, ‘villa’, ‘country estate’, ‘moradia', ‘quinta’;
  3. group **‘‘plots’**‘ includes types ’plot’, ‘land’.
- areas:
 - for the group **‘plots’** use **plot_area**;
 - for groups **‘apartments’** and **‘houses’** use the highest value between **total_area** or **living_area**;


###Questions:
- (Q1) Write a query to extract only listings with a property type “quinta” or “house”;
- (Q2) Write a query to extract only listings of properties with a pool;
- (Q3) Write a query calculating the average price per square meter of all apartments in Nagüeles.
- (Q4) Write a query to identify top 3 companies with largest amount of properties
- (Q5) Identify top 3 agents by number of properties within each company


####HINT:
- Check the csv for these 2 parts. Location names and property type can be found within the title. Be aware of possible traps.

Query 1:
``` **mysql**


          SELECT *
          FROM "properties.csv"
          WHERE title LIKE '%quinta%' OR title LIKE '%house%';

```

Query 2:
``` **mysql**
          SELECT * 
          FROM "properties.csv"
          WHERE features LIKE '%pool%';



```

Query 3:
``` **mysql**
          SELECT id,
          price/plot_area AS price_per_sqm
          FROM "properties.csv"
          WHERE title LIKE '%Nagueles%'

```

Query 4:
``` **mysql**
          SELECT "properties.csv".id, "properties.csv".agent_id,
          "agents.csv".agent_id, "agents.csv".company
          INTO Table1
          FROM "properties.csv"
          INNER JOIN "agents.csv" 
          ON "properties.csv".agent_id = "agents.csv".agent_id;
          
          SELECT COUNT(company)
          INTO Tabl1_count
          FROM Table1
          GROUP BY agent_id
          HAVING COUNT(company)>1;
          
          SELECT TOP 3 * FROM Table_count;


```

Query 5:
``` **mysql**
             SELECT COUNT(agent_id), company
             INTO Table2_count
             FROM Table1
             GROUP BY company;
             
             SELECT TOP 3 agent_id FROM Table2_count




```

**Extra challenge 4:**
- (Q6) Write a query to identify companies with most expensive properties for each month in 2017
- (Q7) Write a query to get first and last property posted by each company

Query 6:
``` **mysql**





```

Query 7:
``` **mysql**





```

# Data Analysis (Python)


You obtained all the data that you need and you now need to run an analysis on the following problem. For this part, feel free to use as many cells as you need below this point. Please use properties.csv as your data source. 



## Problem 
A private investor is planning an investment in one of the four locations. In order to decide where to invest he needs to know the price impact of such features as ‘pool’, ‘sea view’ and ‘garage’ on properties in each location.
He also asks for the mean price of the properties in each type group (‘apartments’, ‘houses’, ‘plots’) and wants to know about properties in the market that are undervalued and overvalued. In order to accomplish the problem that was described we want you to cover the following steps:

####Part 1: Data Cleaning
As you have seen previously, a lot of information is present in the title/features fields. From there, we want to extract the relevant information for further analysis, such as:
 - 1A: Property  **type** (as presented in **Details** above, described in the SQL section) of each property from **title** field
 - 1B: Property **location** (as presented in **Details** above, described in the SQL section) of each property from ** title** field
 - 1C: From ** features** field, if a property has:
  - a pool
  - a garage
  - sea view

####Expected Outcome for Part 1:
- Create a property dataset with the following schema and save it in a csv file:
  - id; 
  - location name
  - type
  - title
  - features
  - pool (0/1)
  - sea view (0/1)
  - garage (0/1)
- Pool, sea view and garage should be binary:1 if the property has the feature and 0 if not
- For each of the 3 tasks (1A, 1B, 1C), describe in detail the what you did. What are the advantages and disadvantages of your approach?
-  Please provide your code in the cells below, in a reproducible and understandable way;

In [0]:
import pandas as pd
import numpy as np

import csv
import re
#read the data
f = open('properties.csv','r')
csvreader = csv.reader(f)
data   = list(csvreader)
data.remove(data[0]) # headers removal

# putting proper property type values
#
property_type=[]
for item in data:
  if re.search("apart(|a)ment(|o)", item[1],re.IGNORECASE) or re.search("duplex", item[1],re.IGNORECASE) or \
  re.search("penthouse", item[1],re.IGNORECASE):
    property_type.append('Apartment')  
    # the villa is also associated with plot so we have to be careful 
  elif re.search("(?<!plot\s)villa", item[1],re.IGNORECASE) or re.search("^house$|^Townhouse$|Townhouse", item[1],re.IGNORECASE)\
  or re.search("moradia", item[1],re.IGNORECASE) or re.search("country house", item[1],re.IGNORECASE) or\
  re.search("Quinta", item[1]):
    property_type.append('Houses')
  else: 
    property_type.append('plots')

identity=[]
location_name=[]
title =[]
features=[]
pool_data=[]
sea_view_data=[]
garage_data=[]

# creation of list for location_names
for item in data:
  identity.append(item[0])
  features.append(item[2])
  if re.search("Alenquer",item[1],re.IGNORECASE):
    location_name.append('Alenquer')
  elif re.search("Quinta da Marinha",item[1],re.IGNORECASE):
    location_name.append('Quinta da Marinha')
  # for the mixed cases of golden mile and Nargueles we take them into the group of Golden miles
  elif re.search('Golden mile',item[1],re.IGNORECASE) or re.search('Marbella Golden mile',item[1],re.IGNORECASE):
    location_name.append('Golden Mile')
  elif re.search('Nag(ü|u)eles',item[1],re.IGNORECASE):
    location_name.append('Nagüeles')
# rest of the one hot encoders for features. For that lets extract all the pool/garage/sea_view values
for item in data:
  if re.search("pool",item[2],re.IGNORECASE) or re.search("piscina",item[1],re.IGNORECASE)\
  or re.search("\s*piscina?",item[2],re.IGNORECASE) or re.search("pool(?<! :No)", item[1],re.IGNORECASE):
    pool_data.append('pool')
  elif item[2] == "":
    pool_data.append('NaN')
  else:
    pool_data.append('no pool')
for item in data:
  if re.search("garage",item[2],re.IGNORECASE) or re.search("garagem",item[2],re.IGNORECASE)\
  or re.search("\s*garagem?",item[2],re.IGNORECASE):
    garage_data.append('garage')
  elif item[2] == "":
    garage_data.append('NaN')
  else:
    garage_data.append('no garage')
for item in data:
  if re.search("sea view",item[2],re.IGNORECASE) or re.search("vista do mar",item[2],re.IGNORECASE) or\
  re.search("sea ",item[2],re.IGNORECASE) or re.search( "sea\/",item[2],re.IGNORECASE):
    sea_view_data.append('sea view')
  elif item[2] == "":
    sea_view_data.append('NaN')
  else:
    sea_view_data.append('no sea view')

# putting in the boolean values
pool=[]
for item in pool_data:
  if item == 'pool':
    pool.append(1)
  elif item == 'no pool':
    pool.append(0)
  else:
    pool.append('NaN')
garage= []
for item in garage_data:
  if item == 'garage':
    garage.append(1)
  elif item=='no garage':
    garage.append(0)
  else:
    garage.append('NaN')
sea_view=[]
for item in sea_view_data:
  if item == 'sea view':
    sea_view.append(1)
  elif item == 'no sea view':
    sea_view.append(0)
  else:
    sea_view.append('NaN')
#area column
plot_area=[]
total_area=[]
living_area=[]
price=[]
for item in data:
  plot_area.append(item[5])
  total_area.append(item[4])
  living_area.append(item[3])
  price.append(int(item[6]))
area=[0]*len(plot_area)
for i in range(len(data)):
  if property_type[i] == 'plots':
    if plot_area[i] == "":
      area[i]= 0
    else:
      area[i] = float(plot_area[i])
  else:
    if living_area[i] == "" and total_area[i] == "":
      area[i] = 0.0
    elif living_area[i] == "":
      area[i]=float(total_area[i])
    elif total_area[i] == "":
      area[i]= float(living_area[i])
    else:
      area[i]=max(float(living_area[i]),float(total_area[i]))
  
# extract the non modified columns from csv file

for item in data:
  title.append(item[1])
    
#create the dataframe
Housing_df = pd.DataFrame()
Housing_df['id'] = identity
Housing_df['location_name']= location_name
Housing_df['type']=property_type
Housing_df['title']=title
Housing_df['features']=features
Housing_df['pool']=pool
Housing_df['sea_view']=sea_view
Housing_df['garage']=garage
Housing_df['area'] = area
Housing_df['price']=price
Housing_df.to_csv('Housing.csv')

####Part 2: Identify outliers
Now that the data is structured correctly, let's look at which properties are a  good deal for our investor. For this you will need to identify undervalued, overvalued, and normal properties in the dataset. Please use any model you find appropiate in order to obtain this.
####Expected Outcome for Part 2:
- As before, deliver a csv file with the following format:
  - id
  - location name
  - type
  - area
  - price
  - over-valued (0/1)
  - under-valued (0/1)
  - normal (0/1)
- the new columns should be binary, where for example **over-valued** column would get value 1 if the property is indeed over-valued, 0 otherwise;
- A short report (could be a pdf file or new cells within the notebook) containing:
  - visualizations (such as scatter plots) discriminating between the undervalued, overvalued and normal properties;
  - a explanation of what is the difference between under-valued/over-valued properties and pure data outliers;
  - any notes/conclusions you wish to add;
- Provide your code in a reproducible way in the cells below;

Since the investor is looking for only a few particular features like sea-view, garage and pool we have to assign weights to each of them. Here the catagory referes to ethe location'.Lets analyze the mean weights in each category feature. We will remove entries where there is no price given

In [0]:
import pandas as pd
import numpy as np

Housing_df1=Housing_df[Housing_df.price != 0]
Housing_df2=Housing_df1.reset_index()
# we also remove data where we have no information about pool or garage or sea view. 
for i in range(len(Housing_df2.price)):
  if Housing_df2.pool[i] =='NaN' or Housing_df2.sea_view[i] == 'NaN' or Housing_df2.garage[i]=='NaN':
    Housing_df2.drop(i,inplace=True)
# resetting_index
Housing_df3 = Housing_df2.reset_index(drop=True)
#calculating mean and std deviation

In [165]:

# using a simple polynomial regression to fit the model based on area and selected features
# area is an important factor for price decision.
# normalize the data based on different groups

temp_df= Housing_df3.groupby(['location_name'])[['price','area']].apply(lambda x: (x - np.mean(x)) / (np.max(x) - np.min(x)))
temp_df['pool']= Housing_df3['pool']
temp_df['sea_view']=Housing_df3['sea_view']
temp_df['garage']=Housing_df3['garage']
temp_df['type']= Housing_df3['type']
temp_df['location_name']= Housing_df3['location_name']
temp_df.head()

      price      area pool sea_view garage       type location_name      id
0  0.957441  0.245139    0        1      0     Houses   Golden Mile  130728
1  0.060233  0.334258    0        0      0      plots      Nagüeles  130856
2  0.074044  0.008518    1        1      0  Apartment   Golden Mile  130857
3  0.050403  0.004189    1        0      0     Houses   Golden Mile  130897
4  0.044178  0.025562    1        1      0     Houses   Golden Mile  130917

In [0]:
#extracting arrays from the datframe 
T1 = temp_df.loc[temp_df['location_name'] == 'Golden Mile']
temp1 = T1
T2 = T1.reset_index(drop=True)
T3 = T2.drop(['type'], axis=1)
T4 = T3.drop(['location_name'],axis=1)
Array_1 = T4.values
X1 = Array_1[:,1:]
Y1= Array_1[:,0]
T1 = temp_df.loc[temp_df['location_name'] == 'Quinta da Marinha']
temp2 = T1
T2 = T1.reset_index(drop=True)
T3 = T2.drop(['type'], axis=1)
T4 = T3.drop(['location_name'],axis=1)
Array_1 = T4.values
X2 = Array_1[:,1:]
Y2= Array_1[:,0]
T1 = temp_df.loc[temp_df['location_name'] == 'Nagüeles']
temp3 = T1
T2 = T1.reset_index(drop=True)
T3 = T2.drop(['type'], axis=1)
T4 = T3.drop(['location_name'],axis=1)
Array_1 = T4.values
X3 = Array_1[:,1:]
Y3= Array_1[:,0]
T1 = temp_df.loc[temp_df['location_name'] == 'Alenquer']
temp4 = T1
T2 = T1.reset_index(drop=True)
T3 = T2.drop(['type'], axis=1)
T4 = T3.drop(['location_name'],axis=1)
Array_1 = T4.values
X4 = Array_1[:,1:]
Y4= Array_1[:,0]

In [0]:

# Import function to automatically create polynomial features! 
from sklearn.preprocessing import PolynomialFeatures
# Import Linear Regression 
from sklearn.linear_model import LinearRegression
# Finally, import function to make a machine learning pipeline
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline
from sklearn import cross_validation

# concatenating the arrays to get final boolean+ normalized area array for the three
# groups of houses
Xtemp = PolynomialFeatures(interaction_only=True).fit_transform(X1[:,1:]).astype(int)
x1 = np.column_stack((Xtemp,X1[:,0]))
Xtemp = PolynomialFeatures(interaction_only=True).fit_transform(X2[:,1:]).astype(int)
x2 = np.column_stack((Xtemp,X2[:,0]))
Xtemp = PolynomialFeatures(interaction_only=True).fit_transform(X3[:,1:]).astype(int)
x3 = np.column_stack((Xtemp,X3[:,0]))
Xtemp = PolynomialFeatures(interaction_only=True).fit_transform(X4[:,1:]).astype(int)
x4 = np.column_stack((Xtemp,X4[:,0]))

In [0]:
# Min and max degree of polynomials features to consider
degree_min = 1
degree_max = 2
degrees=np.arange(degree_min,degree_max,1)
for i in range(len(degrees)):
    
    poly = PolynomialFeatures(degree=degrees[i],
                                             include_bias=False)
    linear_regression = LinearRegression()
    pipeline = Pipeline([("polynomial_features", poly),
                         ("linear_regression", linear_regression)])
    #shuffling the data
    xtemp =np.take(x4,np.random.permutation(x4.shape[0]),axis=0,out=x4)
    X = poly.fit_transform(xtemp)
    pipeline.fit(X, Y4)

    # Evaluate the models using crossvalidation
    scores = cross_validation.cross_val_score(pipeline,
        X, Y4, scoring="mean_squared_error", cv=10)

In [0]:
y_predict1= pipeline.predict(xtemp)

In [0]:
y_predict2=pipeline.predict(xtemp)

In [0]:
y_predict3=pipeline.predict(xtemp)

In [0]:
y_predict4=pipeline.predict(xtemp)

Next we find the interquartile range using the best fit predicted values and we assign overvalued or undervalued properties based on them

In [0]:
# we define IQR or interquartile range to detect outliers for each group
from numpy import percentile
# calculate interquartile range and the outliers based on the cutoff
q25, q75 = percentile(y_predict1, 25), percentile(y_predict1, 75)
iqr = q75 - q25
cut_off = iqr * 1.5
lower1, upper1 = q25 - cut_off, q75 + cut_off

q25, q75 = percentile(y_predict2, 25), percentile(y_predict2, 75)
iqr = q75 - q25
cut_off = iqr * 1.5
lower2, upper2 = q25 - cut_off, q75 + cut_off

q25, q75 = percentile(y_predict3, 25), percentile(y_predict3, 75)
iqr = q75 - q25
cut_off = iqr * 1.5
lower3, upper3 = q25 - cut_off, q75 + cut_off

q25, q75 = percentile(y_predict4, 25), percentile(y_predict4, 75)
iqr = q75 - q25
cut_off = iqr * 1.5
lower4, upper4 = q25 - cut_off, q75 + cut_off

In [0]:
#find the overvalued and undervalued properties and output the results
overvalue1 = [x for x in y_predict1 if  x > upper1]
undervalue1 = [x for x in y_predict1 if  x < lower1]
overvalue2 = [x for x in y_predict2 if  x > upper2]
undervalue2 = [x for x in y_predict2 if  x < lower2]
overvalue3 = [x for x in y_predict3 if  x > upper3]
undervalue3 = [x for x in y_predict3 if  x < lower3]
overvalue4 = [x for x in y_predict4 if  x > upper4]
undervalue4 = [x for x in y_predict4 if  x < lower4]
#append all the values

overvalued=[]
undervalued=[]
normalvalued=[]
t1=[]

for item in y_predict1:
  flag=0
  for item1 in overvalue1:
    if item1 == item:
      flag=0
      break
    else:
      flag+=1
  if flag > 0:
    overvalued.append(0)
  else:
    overvalued.append(1)
     
for item in y_predict1:
  flag=0
  for item1 in undervalue1:
    if item1 == item:
      flag=0
      break
    else:
      flag+=1
  if flag > 0:
    undervalued.append(0)
  else:
    undervalued.append(1)
            
# repeating again for the next groups     
      
for item in y_predict2:
  flag=0
  for item1 in overvalue2:
    if item1 == item:
      flag=0
      break
    else:
      flag+=1
  if flag > 0:
    overvalued.append(0)
  else:
    overvalued.append(1)
      
for item in y_predict2:
  flag=0
  for item1 in undervalue2:
    if item1 == item:
      flag=0
      break
    else:
      flag+=1
  if flag > 0:
    undervalued.append(0)
  else:
    undervalued.append(1)  

for item in y_predict3:
  flag=0
  for item1 in overvalue3:
    if item1 == item:
      flag=0
      break
    else:
      flag+=1
  if flag > 0:
    overvalued.append(0)
  else:
    overvalued.append(1)
      
for item in y_predict3:
  flag=0
  for item1 in undervalue3:
    if item1 == item:
      flag=0
      break
    else:
      flag+=1
  if flag > 0:
    undervalued.append(0)
  else:
    undervalued.append(1)

for item in y_predict4:
  flag=0
  for item1 in overvalue4:
    if item1 == item:
      flag=0
      break
    else:
      flag+=1
  if flag > 0:
    overvalued.append(0)
  else:
    overvalued.append(1)
      
for item in y_predict4:
  flag=0
  for item1 in undervalue4:
    if item1 == item:
      flag=0
      break
    else:
      flag+=1
  if flag > 0:
    undervalued.append(0)
  else:
    undervalued.append(1)

In [0]:
Final_df=pd.DataFrame()
Final_df=Final_df.append(temp1, ignore_index=True)
Final_df=Final_df.append(temp2, ignore_index=True)
Final_df=Final_df.append(temp3, ignore_index=True)
Final_df=Final_df.append(temp4, ignore_index=True)
Final_df['overvalued']=overvalued
Final_df['undervalued']=undervalued

In [0]:
normalvalued=[]
for item in (Final_df['overvalued']-Final_df['undervalued']):
  if item == 0:
    normalvalued.append(1)
  else:
    normalvalued.append(0)
Final_df['Normal valued']=normalvalued
Final_df['id']=Housing_df3['id']
Final_df['Total price']=Housing_df3['price']
Final_df['Total area'] =Housing_df3['area']
Final_df['title']=Housing_df3['title']
Final_df['features']=Housing_df3['features']
Final_df.drop(['area'],axis=1,inplace=True)
Final_df.drop(['price'],axis=1,inplace=True)
# the following gives the csv file of overvalued and undervalued properties
Final_df.to_csv('Housing_valuation.csv')

####Part 3: Theoretical questions
- Mention at least 2 hidden traps you found while solving the problems and what would help you to clean the data set;
- Describe in detail how you would evaluate the price impact of features such as sea view, pool and garage considering the dataset provided. Your answer should also include how would you deal with missing values, outliers and duplicated listings (same property listing published by different agencies);

The two hidden traps are:.=
1. Features and titles had multiple features which were linked for eg., Nagueles and Golden Mile. 
2. Many features had missing value and there were some spelling differences.
3. Also, I didnot shuffle the data  which could skew the emodel

####Extra challenge 5:
- Describe how would you model the data over time (using createdAt field). What changes over time would you look for and what would you expect the outcomes to be? (i.e. in terms of pricing per location/type)